<div class="upcoming-events">

    <h4 class="underlined">Termine im {{title}}</h4>

    {% for event in events %}
    <a href="{{event.guid}}" class="event row">
      <div class="date shrink col col-auto">
        <h2 class="day">{{event.start|date("j")}}</h2>
        <span class="month">{{event.start|date('M')}}</span>
      </div>
      <div class="info col">
        <b>{{event.post_title}}</b><br>
        <span class="small upper gray">{{event.start|date("l, j. M. Y \\u\\m G:i")}}</span>
      </div>

    </a>
    {% endfor %}


      

</div>
