			<footer id="footer">
<div class="container">
  <div class="row">
    {{footer_area}}
  </div>
</div>
	</footer>

  {{ function('wp_footer') }}
<script type="text/javascript" src="{{ site.theme.link }}/public/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/public/js/popper.min.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/public/js/player.js"></script>
<script type="text/javascript" src="{{ site.theme.link }}/public/js/main.js"></script>